/*Animated background color for the body 
The three different colors are from the university of Washington logo.*/
body {
    animation: bodycolorchange 10s infinite linear; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: bodycolorchange 10s infinite linear; /* Chrome and Safari */
    }

    @keyframes bodycolorchange
    { 
     0% {background: rgb(51,0,151);} /*UW purple*/
     25%  {background: rgb(145,123,76);} /*UW metallic gold*/
     50%  {background: rgb(232,211,162);} /*UW gold*/
     100% {background: rgb(51,0,151);} /*UW purple*/
    }

    @-webkit-keyframes bodycolorchange /* Safari and Chrome - necessary duplicate */
    {
  
    0% {background: rgb(51,0,151);} /*UW purple*/
    25%  {background: rgb(145,123,76);} /*UW metallic gold*/
    50%  {background: rgb(232,211,162);} /*UW gold*/
    100% {background: rgb(51,0,151);} /*UW purple*/
}

.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.form-signin input[type="password"] {
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.logo{
    margin-left: 1%;
    border: 10px solid rgb(100,151,177);
    border-width: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 22px;
    font-family:"Courier New";
}
.navbar {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

